<h1>Create A new Love</h1>

<form action="/todos" method="POST">
  <p>New Love: <textarea type="text" name="chore" placeholder="New Love"></textarea></p>
  <input type="submit" value="save" />
</form>
